<ng-template #content let-modal>

  <div class="container">

    <div class="modal-header">
      <h2 class="text-center">CONFIRMATION</h2>
      <hr>
    </div>

    <div class="modal-body">
      <div style="padding-top:10px"></div>

      <p class="text-center"><span>You are joining the CanYa DAO as </span>
        <span><strong>{{getName(id) | uppercase }}</strong></span></p>

      <p class="text-primary" style="font-size:2.25rem">{{ getStake(id) | number:0}} CAN</p>
      <p class="fw-300" style="font-size:1.25rem">Stake required with a waiting period of {{ getPeriod(id)}} days</p>
      <div style="padding-top:10px"></div>
      <strong class="text-center">Stake is locked from your wallet immediately, but you can unlock your stake at any time.</strong>
      <br><br>
      <p class="text-center">Note: If you join a higher tier, you automatically qualify for any lower tiers once you pass their waiting periods.</p>
      <br>
      <p class="text-center text-muted">Tasks and rewards are coming soon</p>
    </div>

    <div class="modal-footer text-center">
      <div style="padding-top:10px text-center"></div>
      <button type="button" class="btn btn-primary btn-success text-center" (click)="modal.close('Save click')">Stake</button>
      <div style="padding-top:10px"></div>
    </div>

    </div>

  </ng-template>

  <button class="btn btn-lg text-white my-1" style="background-image: linear-gradient(122deg, #33ccff, #4decca);border-radius: 64px"
  (click)="open(content)">GET STARTED</button>
