
<main class="main-content">

  <section class="section bg-lgrey my-30 py-0">
    <section class="section bg-lgrey py-30 px-30">

      <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">


          <div class="row" style="margin-top:10px">
            <div class="col-md-12 text-center">
              <strong class="fw-300" style="font-size:1.25rem">CONNECT WALLET</strong>
              <hr style="margin:5px">
              <p class="text-center" style="color:#ff6666">Please check you are visiting https://canyadao.com</p>
              <hr style="margin:3px">
            </div>
            <h3 style="margin-left:20px">Select Wallet</h3>
          </div>

          <div class="row text-left">
            <div class="col-md-4">
              <div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a (click)="setID('0')" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    WALLET CONNECT
                  </a>
                </div>
              </div>
              <div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a (click)="setID('1')" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    LEDGER
                  </a>
                </div>
              </div>
              <div style="margin-top:20px"></div>

              <div class="row">
                <div>
                  <a (click)="setID('2')" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    KEYSTORE
                  </a>
                </div>
              </div>
              <div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a (click)="setID('3')" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    MNEMONIC
                  </a>
                </div>
              </div>

            </div>
            <div class="col-md-8">

              <div [ngSwitch]="id">
                <app-wlt-connect    *ngSwitchDefault    [id]="id"></app-wlt-connect>
                <app-wlt-ledger      *ngSwitchCase="1"      [id]="id"></app-wlt-ledger>
                <app-wlt-keystore *ngSwitchCase="2" [id]="id"></app-wlt-keystore>
                <app-wlt-phrase  *ngSwitchCase="3"            [id]="id"></app-wlt-phrase>
              </div>




            </div>
            <div style="padding-top:10px"></div>

          </div>
        </div>


      </div>

    </section>
  </section>

</main>
