
<main class="main-content">

  <section class="section bg-lgrey my-30 py-0">
    <section class="section bg-lgrey py-30 px-30">

      <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">


          <div class="row" style="margin-top:10px">
            <div class="col-md-12 text-center">
              <strong class="fw-300" style="font-size:1.25rem">CONNECT WALLET</strong>
              <hr style="margin:5px">
              <p class="text-center" style="color:#ff6666">Please check you are visiting https://canyadao.com</p>
              <hr style="margin:3px">
            </div>
            <h3 style="margin-left:20px">Select Wallet</h3>
          </div>

          <div class="row text-left">
            <div class="col-md-4">
<div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a href="#" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    WALLET CONNECT
                  </a>
                </div>
              </div>
<div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a href="#" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    LEDGER
                  </a>
                </div>
              </div>
<div style="margin-top:20px"></div>

              <div class="row">
                <div>
                  <a href="#" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    KEYSTORE
                  </a>
                </div>
              </div>
<div style="margin-top:20px"></div>
              <div class="row">
                <div>
                  <a href="#" class="hvr-underline-reveal">
                    <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    MNEMONIC
                  </a>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <p class="" style="font-size:1rem">Select Keystore File</p>
              <div class="row justify-content-center">
                <a class="btn btn-primary btn-outline btn-w-md" style="width:200px" href="/">UPLOAD FILE</a>
              </div>
              <hr>
              <form class="" action="index.html" method="post">
                <div class="form-group">
                  <label for="InputKey1" style="font-size:1rem">Or paste here:</label>
                  <textarea class="form-control" rows="3" id="InputKey1" placeholder="24 word phrase"></textarea>
                  <small id="keyHelp" class="form-text text-muted">The browser does not store your keys</small>
                </div>
                <div class="form-group">
                  <label for="InputPassword" style="font-size:1rem">Encrypt with password:</label>
                  <input type="password" class="form-control" id="InputPassword" placeholder="password">
                  <small id="pwdHelp" class="form-text text-muted">This will securely encrypt your keys in the browser</small>
                </div>
              </form>

            </div>
          </div>


          <div style="padding-top:10px"></div>

          <div class="row text-right">
            <div class="col">
              <a href="https://www.binance.org/en/create" target="_blank">
                <p class="btn btn-secondary btn-w-sm  my-1" style="margin-right:10px">CREATE</p>
              </a>
              <a class="btn btn-primary btn-w-md" style="margin-right:40px" href="/">UNLOCK</a>
            </div>
          </div>

          <div style="padding-top:10px"></div>

        </div>

      </div>

    </section>
  </section>

</main>
