.search-container {
	position:relative;
	padding:0;
    margin:0;
}
.search {
	padding: 9px;
	font-size: 14px;
	margin: 0;
    padding-left: 10px;
    padding-right: 20px;
    height: 36px;
    border: 1px solid #DCE0E6;
    border-radius: 5px;
}
.search:focus {
	outline: none;
}
.search-icon {
    width: 16px;
    height: 16px;
}
input {
    background-image: url('/assets/img/search.svg');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.bg-lgrey {
  background: #F8F9FA;
  border-radius: 5px;
}

.bg-white {
  background: #FFFFFF;
  border-radius: 5px;
}


[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #fff;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(183,187,189,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(183,187,189,1);
  box-shadow: 0px 0px 20px 0px rgba(183,187,189,1);
}

.effects {
  margin-top: 6em;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em 0 1em 0;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}


.btn-space {
    margin-right: 5px;
}

.icon-bot {
    margin-top: -5px;
    border: none;
    opacity: 0.6;
    width: 24px;
    height: 24px;
    background: url('/assets/img/bot.svg') white;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-bot:hover {
    background: url('/assets/img/bot-hover.svg');
    opacity: 1.0;
}

.icon-sign-out {
    border: none;
    opacity: 0.6;
    width: 24px;
    height: 24px;
    background: url('/assets/img/signout.svg') white;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-sign-out:hover {
    background: url('/assets/img/signout-hover.svg');
    opacity: 1.0;
}

.sidebar {
	-ms-flex: 0 0 220px;
flex: 0 0 220px;
}

/* Icon Fade */
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-fade .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
  color: #33ccff;
}

/* Icon Push */
@-webkit-keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icon-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-push .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-push:hover .hvr-icon, .hvr-icon-push:focus .hvr-icon, .hvr-icon-push:active .hvr-icon {
  -webkit-animation-name: hvr-icon-push;
  animation-name: hvr-icon-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hvr-icon-fwd-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-fwd-reveal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-fwd-reveal:hover .hvr-icon, .hvr-icon-fwd-reveal:focus .hvr-icon, .hvr-icon-fwd-reveal:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}


/* Underline Reveal */
.hvr-underline-reveal {
  margin-left: 20px;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0px 0px 5px 0px rgba(218,227,232,1);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #33ccff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  right: 0;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
		width: 600px;
		height: 100px;
		text-align: center;
		font-size: 22px;
		vertical-align: middle;
		background-color: #F8F9FA;
    transform: translateZ(0);
  box-shadow: 0px 0px 5px 0px rgba(218,227,232,1);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.01);
}
