<section class="section bg-lgrey my-30 py-0"  id="profile">
  <div style="padding-top:20px"></div>
    <div class="container bg-white">
      <h2 class="text-primary" style="font-size:1.5rem">Profile</h2>
      <div style="padding-top:20px"></div>
      <div class="row text-left">
        <div class="col-md-3">
          <b style="font-size:0.875rem">Wallet</b>
        </div>
        <div class="col-md-9">
          <p class="text-primary" style="font-size:1rem">2,000 CAN</p>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-md-3">
          <b style="font-size:0.875rem">Stake</b>
        </div>
        <div class="col-md-3">
          <p class="text-primary" style="font-size:1rem">1,000 CAN</p>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary btn-w-xl">UPGRADE</button>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-md-3">
          <b style="font-size:0.875rem">Commencement</b>
        </div>
        <div class="col-md-3">
          <p>01 June 2019</p>
          <p>30 days</p>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary btn-w-xl btn-danger">WITHDRAW STAKE</button>
        </div>
      </div>
      <hr>
    </div>


  </section>
