<!-- Main container -->
<main class="main-content">
<ngb-alert *ngIf="successMessage" type="warning" style="text-right" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <section class="section bg-lgrey my-30 py-30 px-30"  id="cards">

    <div class="bg-white">
      <img src="assets/img/media/canyadao.svg" width="auto" alt="logo">
      <div style="padding-top:20px"></div>
      <h2 class="text-center">CanYaDAO</h2>
      <p class="text-center">A GLOBAL ORGANISATION FOR THE CANYA ECOSYSTEM</p>
      <p class="text-center">Join the CanYa DAO today to help govern and fund the thriving CanYa ecosystem.</p>
      <p class="text-center">DAO Members complete tasks for autonomous payments, enjoy perks and keep the CanYa DAO Fund prosperous.</p>
      <p class="text-primary text-center" style="font-size:2.25rem">$USD {{ convertToLocaleString(getCANUSD()) }}</p>
      <p class="fw-300 text-center" style="font-size:1.25rem">(Current Fund Size)</p>
      <div style="padding-top:20px"></div>
    </div>

    <div class="container" style="padding-top:60px">
      <div class="row gap-y  bg-lgrey">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card text-center card-bordered card-hover-shadow">
            <div class="card-body">
              <h4 class="card-title" style="font-size:2.25rem">
                <a href="#" target="_blank">{{getName(0) | uppercase }}</a>
              </h4>
              <a *ngFor="let perk of perks0; let i = index">
                <p>{{perk}}</p>
              </a>
              <p class="text-primary" style="font-size:2.25rem">{{ getStake(0) | number:0}} CAN</p>
              <p class="fw-300" style="font-size:1.25rem">Stake Required</p>
              <p class="card-text"><small class="text-muted">Leave any time</small></p>

              <app-homemodal [id]="0"></app-homemodal>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card text-center card-bordered card-hover-shadow">
            <div class="card-body">
              <h4 class="card-title" style="font-size:2.25rem">
                <a href="#" target="_blank">{{getName(1) | uppercase}}</a>
              </h4>
              <a *ngFor="let perk of perks1; let i = index">
                <p>{{perk}}</p>
              </a>

              <p class="text-primary" style="font-size:2.25rem">{{ getStake(1) | number:0}} CAN</p>
              <p class="fw-300" style="font-size:1.25rem">Stake Required</p>
              <p class="card-text"><small class="text-muted">Minimum of {{getPeriod(1)}} days since joining</small></p>

              <app-homemodal  [id]="1"></app-homemodal>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card text-center card-bordered card-hover-shadow">
            <div class="card-body">
              <h4 class="card-title" style="font-size:2.25rem">
                <a href="#" target="_blank">{{getName(2) | uppercase }}</a>
              </h4>

              <a *ngFor="let perk of perks2; let i = index">
                <p>{{perk}}</p>
              </a>

              <p class="text-primary" style="font-size:2.25rem">{{ getStake(2) | number:0}} CAN</p>
              <p class="fw-300" style="font-size:1.25rem">Stake Required</p>
              <p class="card-text"><small class="text-muted">Minimum of {{getPeriod(2)}} days since joining</small></p>


              <app-homemodal  [id]="2"></app-homemodal>


            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card text-center card-bordered card-hover-shadow">
            <div class="card-body">
              <h4 class="card-title" style="font-size:2.25rem">
                <a href="#" target="_blank">{{getName(3) | uppercase }}</a>
              </h4>

              <a *ngFor="let perk of perks3; let i = index">
                <p>{{perk}}</p>
              </a>

              <p class="text-primary" style="font-size:2.25rem">{{ getStake(3) | number:0}} CAN</p>
              <p class="fw-300" style="font-size:1.25rem">Stake Required</p>
              <p class="card-text"><small class="text-muted">Minimum of {{getPeriod(3)}} days since joining</small></p>


              <app-homemodal  [id]="3"></app-homemodal>


            </div>
          </div>
        </div>


      </div>
      <br><br>
    </div>

  </section>


</main>
<!-- END Main container -->
